

h3{
	font-size: 400%; color:blue;
}
title{
	font-size: 200%; color:lightblue;
}
p{
	font-size: 100%; color: blue; 
}

table{
	font-size: 100%; color: blue; 
}
form{
	font-size: 100%; color: blue; 
}

body {
  background-color: blue;
}

